/local.properties
/app/libs
/app/build
/app/jni
.idea
.gradle
.dub
.dub
docs.json
__dummy.html
docs/
/android-sdl
android-sdl.so
android-sdl.dylib
android-sdl.dll
android-sdl.a
android-sdl.lib
android-sdl-test-*
*.exe
*.o
*.obj
*.lst
